body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Bad Script';
    color: #7ea462;
}

.column {
    background-image: linear-gradient(#ebfdde, #d7edc6);
    height: 100vh;
    width: 25vw;
}

#left-column {
    float: left;
}

#right-column {
    float: right;
}

.game-play {
    background-image: linear-gradient(#d7edc6, #ebfdde);
    height: 100vh;
    width: 50vw;
    float: inline-start;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.gameboard-container {
    display: flex;
    flex-wrap: wrap;
    width: 444px;
    height: 366px;
    margin-bottom: 8em;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-style: solid;
    border-width: 4px;
    border-image: radial-gradient(#bad8a4, #7ea462) 1;
    height: 140px;
    width: 140px;
    font-size: 80px;
}

.player-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.player {
    font-size: 350%;
    margin: 0;
    margin-bottom: -.70em;
}

.wins {
    font-size: 320%;
    margin: 0;
}

.welcome-message,
.turns {
    font-size: 350%;
    max-height: 20vh;
    margin-top: 5%;
}

.reset-container {
    display: flex;
    align-items: end;
    margin-top: 1em;
   
}

.reset-button {
    color: #ed7014;
    height: 30px;
    width: 90px;
    border-radius: 25% 10%;
    border: 1px transparent;
    background-image: linear-gradient(0deg, #bad8a4, 70%, #d7edc6);
    box-shadow: inset -1px -1px 1px 1px #7ea462;
}

.cell:nth-child(1) {
    border-top: transparent;
    border-left: transparent;
}


.cell:nth-child(2) {
    border-top: transparent;
}


.cell:nth-child(3) {
    border-top: transparent;
    border-right: transparent;
}


.cell:nth-child(4) {
    border-left: transparent;
}


.cell:nth-child(6) {
    border-right: transparent;
}


.cell:nth-child(7) {
    border-left: transparent;
    border-bottom: transparent;
}


.cell:nth-child(8) {
    border-bottom: transparent;
}


.cell:nth-child(9) {
    border-bottom: transparent;
    border-right: transparent;
}


.hidden {
    display: none;
}